# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List common libraries used by Data Scientists 
* Evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. JavaScript 
4. Java 
5. C++
6. Julia 
7. Scala 
8. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy 
2. pandas 
3. matplotlib
4. dplyr 
5. caret

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Apache Zeppelin|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5 #this is a simple arithmetic example where numbers are multiplied and then added.

17

In [4]:
200/6 #this will convert 200 minutes to hours by dividing by 60

33.333333333333336

## Author 
Fionna Feerick